    body{
        background-image: url(fondo3.png);
        background-size:cover;
        background-attachment: fixed;
    }
    h1{
      color:rgb(39, 38, 38);
			border-radius: 20%;
			border-color: brown;
			text-align:center;
			margin-top:50px;
			background-color: rgb(203, 251, 251);
    }
    .carlitos{
      font-family: 'roboto';
      background: #4568dc;
      background: -webkit-linear-gradient(to right, #7769aa, #f1a0a0);
      background: linear-gradient(to right,#e6e1fb, #c9f3b4);
      border:none;
      width: line;
      margin:20px 10px;
      color: #191818;
      height: 40px;
      font-size: 25px;
      cursor: pointer;
      border-radius:10px 10px 10px 10px;
      text-align:center;
    }
    form{
		
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        width:50%;
        height:40vh;
        margin:50px auto;
        border-radius:20%;
		
    }
    input{
    	padding:10px;
    	margin:10px;
		border-radius: 10%;
    }
    label{
		text-align:center;
    	font-size: 30px;
    	font-weight: bold;
		border-radius: 10%;
    }
    @media(max-width:600px){
      body{
        background-image: url(fondo3.png);
        background-size:cover;
        background-attachment: fixed;
    }
    
    form{
		
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
        background: none;
        width:50%;
        height:40vh;
        margin:50px auto;
        border-radius:20%;
        padding: 10px;
		
    }
    input{
    	padding:20px;
    	margin:5%;
		border-radius: 10%;
    }
    label{
		text-align:center;
    	font-size: 30px;
    	font-weight: bold;
		border-radius: 10%;
    }
    }